*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}


/*************************  HEADER ********************/

header{ 
    display: flex;
    justify-content: center;
    
}

header .header{
    width: 100%;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 45px;
    width: 100px;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .button-nav{
    width: 160px;
    height: 100px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

header a{
    color: black;
    transition: 0.3s;
}


header #button-blue-bold{
    color: #0065FC;
    font-weight: 700;
}

header .button-nav:hover{
    border-top: 3px solid #0065FC;
}

.button-nav:hover a{
    color: #0065FC;
}

/********************* SECTION 1 *********************/

.section1{
    margin: 0px 35px;
}
.section1 h1{
    font-size: 1.4rem;
    margin: 10px 0px 10px 0px;
}

.section1 h2{
    font-size: 1.05rem;
    font-weight: normal;
}

.map-marker{
    color: black;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.text-zone input{
    display:flex;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    border: 1px solid #f2f2f2;
    padding-left: 10px;
    }
    
input::placeholder{
    color: black;
}

.button-recherche input{
    background-color: #0065fc;
    color: white;
    font-size: 1.05rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    border: none;
}



.grid-recherche{
    margin: 15px 0px 35px 0px;
    max-width: 420px;
    height: 50px;
    display: grid;
    grid-template-columns: 50px 235px 135px;
}

.filtre i{
    background-color: #deebff;
    color: #0065fc;
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    border: 3px solid #deebff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}



.filtre a{
    display: flex;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtre{
    border: 3px solid #d9d9d9;
    border-radius: 25px;
    height: 47px;
    display: flex;
    align-items: center;
}

.grid-filtres{
    font-size: 1.05rem;
    font-weight: 600;
    width: 940px;
    height: 50px;
    display: grid;
    grid-template-columns: 65px 195px 150px 185px 240px;
    column-gap: 25px;
    align-items: center;
}
