*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}


/* box-shadox en general*/
/*************************  HEADER ********************/

header{ 
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

header .header{
    width: 100%;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 45px;
    width: 100px;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .button-nav{
    width: 160px;
    height: 100px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

header a{
    color: black;
    transition: 0.3s;
}


header #button-blue-bold{
    color: #0065FC;
    font-weight: 700;
}

header .button-nav:hover{
    border-top: 3px solid #0065FC;
}

.button-nav:hover a{
    color: #0065FC;
}

/********************* SECTION 1 *********************/

.section1{
    margin: 0px 35px;
}


/* SECTION 1 : TITRE, SOUS-TITRE ET CHAMPS DE RECHERCHE */

.section1 h1{
    font-size: 1.4rem;
}

.section1 h2{
    font-size: 1.05rem;
    font-weight: normal;
    margin-top: 10px;
}

.map-marker{
    color: black;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.text-zone input{
    display:flex;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border: 1px solid #f2f2f2;
    padding-left: 10px;
    }
    
input::placeholder{
    color: black;
}

.button-recherche input{
    background-color: #0065fc;
    color: white;
    font-size: 1.05rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    border: none;
}



.grid-recherche{
    margin: 15px 0px 30px 0px;
    max-width: 420px;
    height: 50px;
    display: grid;
    grid-template-columns: 50px 235px 135px;
}

/********* SECTION 1 : FILTRES *********/

.grid-filtres{
    font-size: 1.05rem;
    font-weight: 700;
    width: 940px;
    height: 50px;
    display: grid;
    grid-template-columns: 55px 195px 150px 185px 240px;
    column-gap: 25px;
    align-items: center;
    margin-bottom: 35px;
}

.filtre{
    display: flex;
    position: relative;
}

.filtre-icone{
    background-color: #deebff;
    color: #0065fc;
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    border: 2px solid #deebff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.filtre-texte{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #d9d9d9;
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 47px;
}

.filtre-texte p{
    margin-left: 30px;
}

/********* SECTION 1 : LIGNE INFO *********/

.info{
    display: flex;
}

.info-icone{
    color: #0065fc;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.info-texte{
    display: flex;
    align-items: center;
}

/*************SECTION 2****************/

.grid-section2{
    margin: 35px 35px 60px 35px;
    height: 600px;
    display: grid;
    grid-template-columns: 2.1fr 0.9fr;
    column-gap: 40px;
}

.grid-section2 h1{
    font-size: 1.2rem;
}

.box-hebergement, .box-populaire{
    background: #f2f2f2;
    border-radius: 25px;
    padding: 35px 35px 25px 35px; 
}


/* SECTION 2 : PARTIE DE GAUCHE HEBERGEMENTS */

.grid-hebergement{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0px 40px 0px;

}

.hebergement{
    border: 4px solid white;
    height: 180px;
    border-radius: 25px;
}

.box-hebergement a{
    color: black;
    font-weight: 700;
}

/* SECTION 2 : PARTIE DE DROITE : LES PLUS POPULAIRES */

.icone-populaire{
    display: flex;
    justify-content: space-between;
}

.grid-populaire{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    margin-top: 25px;
}

.populaire{
    border: 4px solid white;
    border-radius: 25px;
    height: 130px;
}

/******** FOOTER *******/

footer{
    background: #f2f2f2;
    height: 220px;
}